$primary-color: #FF7E00;
$text-gray: #9B9B9B;
$text-black: #000000;
$background-color: #F6F7F9;

$padding-32: 32px;
$padding-16: 16px;
$padding-8: 8px;
$nav-width: 382px;

$cubic-bezier-bounce: cubic-bezier(.05, .53, .42, 1.5);

$font-size-nav: 20px;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: $text-gray;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  color: $text-black;
}

p {
  font-size: 24px;
  font-weight: 300;
  color: $text-black;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.nav-container {
  background: white;
  position: fixed;
  right: 0;
  height: 100%;
  width: $nav-width;
}

nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;

  li {
    text-transform: uppercase;
    font-weight: bold;
    padding: $padding-16;
  }

  a {
    color: $text-gray;
    text-decoration: none;
    font-size: $font-size-nav;
    transition: color 0.15s ease-in;
  }

  a:hover {
    color: #717171;
  }

  .selected {
    color: $primary-color;
  }

  .selected:hover {
    color: $primary-color;
  }
}

::selection {
  color: white;
  background-color: $primary-color;;
}

.round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(270deg, #FF6812 0%, #FF913A 100%);
  border-radius: 33px;
  width: 66px;
  height: 66px;
  position: fixed;
  right: $nav-width;
  transform: translateX(33px) translateY(calc(50vh - 33px));
  cursor: pointer;
  transition: all 0.4s $cubic-bezier-bounce;
}

.round-button:hover {
  transform: translateX(33px) translateY(calc(50vh - 33px)) scale(1.1);
  user-select: none;
}

.round-button img {
  user-select: none;
  transition: all 0.75s $cubic-bezier-bounce;
}

.rotated-180 {
  transform: rotate(180deg);
}

.fixed {
  min-height: 100vh;
}

.page {
  width: calc(100% - #{$nav-width});
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.page-inner {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  padding: 0 $padding-32 100px $padding-32;
}

.portrait-picture {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s $cubic-bezier-bounce;
  width: 250px;
}

.portrait-picture:hover {
  box-shadow: 4px 6px 39px -20px rgba(0,0,0,0.75);
  transform: scale(1.05);
}
